/* Layout */

body{
    background-color: #2b2a2a;
    margin: 0px;
}
nav{
    clear: both;
    text-align: center;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

header {
    background-color: limegreen;
    height: 170px;
    padding: 0px;
   }

article {
    background-color: orange;
    min-height: 700px;
    width: 70%;
    margin:0;
    padding: 0px;
    float:left;
}

aside {
    background-color: blue;
    min-height: 700px;
    width: 30%;
    margin:0;
    padding: 00px;
    float:right;
}

footer{
    clear:both;
    background-color: red;
    height: 50px;
    margin: 0px;
    padding: 10px;
}

/* Títulos */

#titulodapagina {
    color: #eeedea;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}    
h1{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

h2{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

h3{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

h4{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

h5{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

h6{
color: #eeedea;
font-family: 'Roboto', sans-serif;
}

/* Links */

a{
    color: #4685E0;
    font-family: 'Roboto', sans-serif;
}

/* Paragrafos */

p{
    color: #eeedea;
    font-family: 'Roboto', sans-serif;
}